<% layout("/layouts/boilerplate"); %>
<link rel="stylesheet" href="/css/index.css" />

<body>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div id="filters" class="col-9" style="margin-right: 10px">
        <div class="filters-container">
          
          <div
            id="resetFilter"
            onclick="resetFilter()"
            class="filter applyFilter"onclick="applyFilter('arctic')" style="margin: 0px;"
            style="display: none"
          >
            <i class="fas fa-house"></i>
            <p>Home</p>
          </div>
          

          <div
            onclick="applyFilter('trending')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-fire"></i>
            <p>Trending</p>
          </div>

          <div
            onclick="applyFilter('rooms')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-bed"></i>
            <p>Rooms</p>
          </div>

          <div
            onclick="applyFilter('iconic-cities')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-mountain-city"></i>
            <p>Iconic cities</p>
          </div>

          <div
            onclick="applyFilter('mountains')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-mountain"></i>
            <p>Mountains</p>
          </div>

          <div
            onclick="applyFilter('castles')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fab fa-fort-awesome"></i>
            <p>Castles</p>
          </div>

          <div
            onclick="applyFilter('amazing-pools')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-person-swimming"></i>
            <p>Amazing Pools</p>
          </div>

          <div
            onclick="applyFilter('camping')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-campground"></i>
            <p>Camping</p>
          </div>

          <div
            onclick="applyFilter('farms')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-crow"></i>
            <p>Farms</p>
          </div>

          <div
            onclick="applyFilter('arctic')"
            class="filter applyFilter"
            style="margin: 0px"
          >
            <i class="fas fa-snowflake"></i>
            <p>Arctic</p>
          </div>
<!--  -->
          <div onclick="applyFilter('beach')" 
          class="filter applyFilter"
           style="margin: 0px"
           >
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
          </div>
          <div onclick="applyFilter('boat')"
           class="filter applyFilter"
            style="margin: 0px"
            >
            <i class="fa-solid fa-sailboat"></i>
            <p>Boat</p>
          </div>
          <div onclick="applyFilter('skiinout')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-person-snowboarding"></i>
            <p>Ski-in/out</p>
          </div>
          <div onclick="applyFilter('apartment')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-building"></i>
            <p>Apartment</p>
          </div>
          <div onclick="applyFilter('new')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-key"></i>
            <p>New</p>
          </div>
          <div onclick="applyFilter('woodlands')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-tree-city"></i>
            <p>Woodlands</p>
          </div>
          <div onclick="applyFilter('lake')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-water"></i>
            <p>Lake</p>
          </div>
          <div onclick="applyFilter('cabins')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-house"></i>
            <p>Cabins</p>
          </div>
          <div onclick="applyFilter('countryside')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-house-chimney-window"></i>
            <p>Countryside</p>
          </div>
          <div onclick="applyFilter('bedandbreakfasts')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-mug-hot"></i>
            <p>Bed & Breakfasts</p>
          </div>
          <div onclick="applyFilter('campsite')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-tents"></i>
            <p>Campsite</p>
          </div>
          <div onclick="applyFilter('historicalhomes')" class="filter applyFilter" style="margin: 0px">
            <i class="fa-solid fa-landmark"></i>
            <p>Historical Homes</p>
          </div>
        </div>
      </div>
      <div class="tax-toggle col-2 ms-auto p-0 me-3">
        <div class="form-check form-switch form-check-reverse">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            checked
          />
          <label
            class="form-check-label d-flex justify-content-center align-items-center"
            for="flexSwitchCheckChecked"
          >
            <p class="text-center m-0 text-responsive">
              Display Total after taxes
            </p>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ps-3 pe-3 mt-3"
    id="listing-container"
  >
    <% for (let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"><%= listing.title %></div>
        <div class="card-body">
          <p class="card-text">
            <%= listing.title %> <br />
            <span>
              &#8377;<%= listing.price.toLocaleString("en-IN") %>/Night
              <i class="tex-info"> &nbsp;&nbsp; + 18% GST</i>
            </span>
          </p>
        </div>
      </div>
  
    <% } %>
  </div>

  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckChecked");

    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tex-info");
      for (let info of taxInfo) {
        info.style.display = (info.style.display !== "none") ? "none" : "inline";
      }
    });

    const originalSet = <%- JSON.stringify(originalSet) %>;
    let allListings = <%- JSON.stringify(allListings) %>;

    function applyFilter(filter) {

      allListings = originalSet.filter((x) => x.category === filter);
      updateListings();

      // Show the Home button
      document.getElementById('resetFilter').style.display = 'block';
    }

    function resetFilter() {
      allListings = [...originalSet];
      updateListings();

      document.getElementById('resetFilter').style.display = 'none';
    }

    function updateListings() {
      const container = document.getElementById('listing-container');
      container.innerHTML = ''; // Clear the existing listings

      allListings.forEach(listing => {
        const listingElement = `
          <a href="/listings/${listing._id}" class="listing-link">
            <div class="card col listing-card">
              <img src="${listing.image.url}" class="card-img-top" alt="listing_image" style="height: 20rem"/>
              <div class="card-img-overlay">${listing.title}</div>
              <div class="card-body">
                <p class="card-text">
                  ${listing.title} <br />
                  <span>
                    &#8377;${listing.price.toLocaleString("en-IN")}/Night
                    <i class="tex-info"> &nbsp;&nbsp; + 18% GST</i>
                  </span>
                </p>
              </div>
            </div>
        
        `;
        container.innerHTML += listingElement;
      });
    }
  </script>
</body>
